<div class="jumbotron">
  <h2><%= gettext "QR Generator", name: "QR Generator" %></h2>
  <p class="lead">Generate QR Codes Quickly!</p>
</div>

<div class="row marketing">
  <div class="col-lg-6">
    <h4>Code Input</h4>
  </div>

  <div class="col-lg-6">
    <h4>QR Code</h4>
  </div>
</div>
